<% if admin? %>
  <div class="card_spacer"></div>

  <div class="card" align="center">
    <p>Admin Section (<%= current_user.name %>)</p>
    
    <p>
      Contacts received (<%= link_to "#{Contact.where(seen: nil).size.to_s} unseen", contacts_path %>)
    </p>
  </div>
<% end %>
