<% if admin? %>
  <div class="card_spacer"></div>

  <div class="card" align="center">
    <p>Admin Section (<%= current_user.name %>)</p>
    
    <p>
      Contacts received (<%= Contact.where(seen: nil).size %> unseen)
    </p>
  </div>
<% end %>
