<div class="section_part" id="about_us_section">
  <center>
    <h2 class= "h2about">About Us</h2>
    </br>
    <div class= "divmain_about">
      <div class= "div1_about">
        <div class= "about_us_image"> <%= image_tag "/images/little_surveyor.png", class: :about_us_photo %> </div>
        </br>
      </div>
    </div>
  </center>
</div>
