<div class="dialog_modal" id="dialog_modal">
  <div align="center">
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, close_dialog_path, remote: true, class: :top_right_link %>
    <% case service %>
      <% when "1" %>
        <p>
          Heavy Civil
        </p>
        <p>
          Highways
        </p>
        <p>
          Bridges
        </p>
        <p>
          Commercial Sites
        </p>
        <p>
          Utilities Layout Asbuilt
        </p>
      <% when "2" %>
        <p>
          Boundary
        </p>
        <p>
          Topographic
        </p>
        <p>
          ALTA/ACSM
        </p>
        <p>
          Location Surveys
        </p>
        <p>
          Geodetic & Site Survey Control
        </p>
        <p>
          Right-of-way, Easements & Utility Corridors
        </p>
        <p>
          Residential Subdivisions
        </p>
        <p>
          GIS Data Acquisition
        </p>
        <p>
          Commercial Developments
        </p>
        <p>
          Industrial & Airports
        </p>
        <p>
          Medical & Education Facilities
        </p>
        <p>
          Municipal, County, Sate & Federal
        </p>
      <% when "3" %>
        <p>
          Topographic
        </p>
        <p>
          Aerial Imaging
        </p>
        <p>
          Structure Surveys & Inspections
        </p>
        <p>
          Earthwork, landfill, stock pile volume quantities
        </p>
        <p>
          Highways & Bridges
        </p>
        <p>
          Solar Farms
        </p>
        <p>
          Infrared Imaging
        </p>
        <p>
          Forensic & Accident Sites
        </p>
        <p>
          Agriculture Studies
        </p>
      <% when "4" %>
        <p>
          Machine Control DTM (Digital Terrain Model) Files
        </p>
        <p>
          Cut/Fill Maps
        </p>
        <p>
          Highways
        </p>
        <p>
          Commercial Sites
        </p>
    <% end %>
  </div>
  <div id="project_img_anchor"></div>
</div>
