<div class="section_part" id="projects_section">
  <% for project in @projects %>
    <%= link_to services_dialog_path(project.tag), remote: true do %>
      <div align="center">
        <div>
          <%= project.title %>
        </div>
        <div>
          <%= project.body %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="section_spacer"></div>
