<div class="dialog_modal" id="dialog_modal">
  <div class="service_dialog" align="center">
    <%= link_to '<i class="fa fa-times fa-2x"></i>'.html_safe, root_url, class: "top_right_link white_link" %>
    <% case @service %>
      <% when "1" %>
        <style>
          .dialog_modal {
            background-image: url("/images/construction.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <div class="service_dialog_txt">
          Heavy Civil
        </div>
        <div class="service_dialog_txt">
          Highways
        </div>
        <div class="service_dialog_txt">
          Bridges
        </div>
        <div class="service_dialog_txt">
          Commercial Sites
        </div>
        <div class="service_dialog_txt">
          Utilities Layout & Asbuilt
        </div>
      <% when "2" %>
        <style>
          .dialog_modal {
            background-image: url("/images/survey_backgroundGS.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <div class="service_dialog_txt">
          Boundary
        </div>
        <div class="service_dialog_txt">
          Topographic
        </div>
        <div class="service_dialog_txt">
          ALTA/ACSM
        </div>
        <div class="service_dialog_txt">
          Location Surveys
        </div>
        <div class="service_dialog_txt">
          Geodetic & Site Survey Control
        </div>
        <div class="service_dialog_txt">
          Right-of-way, Easements & Utility Corridors
        </div>
        <div class="service_dialog_txt">
          Residential Subdivisions
        </div>
        <div class="service_dialog_txt">
          GIS Data Acquisition
        </div>
        <div class="service_dialog_txt">
          Commercial Developments
        </div>
        <div class="service_dialog_txt">
          Industrial & Airports
        </div>
        <div class="service_dialog_txt">
          Medical & Education Facilities
        </div>
        <div class="service_dialog_txt">
          Municipal, County, Sate & Federal
        </div>
      <% when "3" %>
        <style>
          .dialog_modal {
            background-image: url("/images/uav/uav_3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <div class="service_dialog_txt">
          Topographic
        </div>
        <div class="service_dialog_txt">
          Aerial Imaging
        </div>
        <div class="service_dialog_txt">
          Structure Surveys & Inspections
        </div>
        <div class="service_dialog_txt">
          Earthwork, landfill, stock pile volume quantities
        </div>
        <div class="service_dialog_txt">
          Highways & Bridges
        </div>
        <div class="service_dialog_txt">
          Solar Farms
        </div>
        <div class="service_dialog_txt">
          Infrared Imaging
        </div>
        <div class="service_dialog_txt">
          Forensic & Accident Sites
        </div>
        <div class="service_dialog_txt">
          Agriculture Studies
        </div>
      <% when "4" %>
        <style>
          .dialog_modal {
            background-image: url("/images/uav/uav_4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
          }
        </style>
        <div class="service_dialog_txt">
          Machine Control DTM (Digital Terrain Model) Files
        </div>
        <div class="service_dialog_txt">
          Cut/Fill Maps
        </div>
        <div class="service_dialog_txt">
          Highways
        </div>
        <div class="service_dialog_txt">
          Commercial Sites
        </div>
    <% end %>
  </div>
  <div id="project_img_anchor"></div>
</div>
