<% if admin? %>
  <div class="card_spacer"></div>

  <div class="card" align="center">
    <%= link_to "Clear all contacts (#{Contact.all.size})", destroy_all_contacts_path, method: :delete,
      	  data: { confirm: "Are you sure you want to permanently delete all contacts?" } %>
  </div>

  <% for contact in @contacts %>
    <div class="card" align="center">
      <p>
        <%= contact.name %>
      </p>
      <p>
        <%= contact.email %>
      </p>
      <p>
        <%= contact.comments %>
      </p>
    </div>
  <% end %>

  <% if @contacts.empty? %>
    <div class="card" align="center">
      <p>
        There aren't any contacts currently.
      </p>
    </div>
  <% end %>
<% end %>
