// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scroll_to_top_link_icon {
  position: absolute;
  top: 12.5px;
  left: 17.5px;
}

#scroll_to_top_link_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 47.5px;
  height: 40.5px;
  background: rgb(214, 216, 219);
  z-index: 1;
}

#scroll_to_top_link {
  color: DarkBlue;
  font-size: 20px;
  display: none;
}

.nav_menu {
  position: fixed;
  background: rgb(214, 216, 219);
  width: 100%;
  height: 65px;
  top: 0px;
  left: 0px;
  z-index: 20;
}

.standard_nav_menu_link {
	color: DarkBlue;
	font-size: 25px;
	display: block;
	padding: 7.5px 5px;
	background: rgb(214, 216, 219);
	border-bottom: 2px solid DarkBlue;
}

#menu_link_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 47.5px;
  height: 40.5px;
  background: black;
  z-index: 1;
}

#toggle_menu_link {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 100%;
	color: black;
	font-size: 13px;
	z-index: 2;
	padding: 27.5px 10px;
}

.nav_menu_links {
  padding-top: 12.5px;
}

@media screen and (max-width: 975px) {
  .nav_menu {
    height: 80px;
  }
}
