// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_img_container {
  float: left;
  width: 25%;
}

.project_img {
  width: 85%;
}

.project_img_expanded {
  width: 95%;
}

.project_title {
  font-size: 20px;
  font-weight: bold;
}

.project_body {
  width: 55%;
}

.edit_cover_image_link {
  position: absolute;
  top: 85px;
  right: 15px;
  color: white;
}

.image_carousel {
  position: relative;
  background: white;
  max-width: 550px;
  margin: 0 auto;
  width: 94.5%;
}

.carousel_image {
  position: relative;
  width: 100px;
}

.carousel_link {
  z-index: 2;
}

.carousel_hider_left {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 50px;
  background: white;
}

.carousel_hider_right {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 50px;
  background: white;
}

.clients_logos {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;
}

.cl_logo {
  width: 50%;
  margin: 20px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.cl_logo:hover {
   filter: none;
   -webkit-filter: grayscale(0%);
}

@media screen and (max-width: 975px) {
  .project_body {
    width: 85%;
  }
  .clients_logos {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
    -moz-column-gap: 5px; /* Firefox */
    column-gap: 5px;
  }

  .cl_logo { 
   height: 30%;
   margin: 5px;
   filter: none;
  }
}
