// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_nav_link {
  position: fixed;
  top: 27.5px;
  right: 10px;
  color: darkblue;
}

.log_out_nav_link {
  float: left;
  padding-right: 5px;
}

.admin_nav_link {
  float: left;
  padding-right: 5px;
}

.nav_link_separator {
  float: left;
  padding-right: 5px;
}

@media screen and (max-width: 975px) {}
