// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.close_dialog_link {
  margin: 30% 60%;
  color: white;
}

.dialog_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  padding-top: 100px;
  z-index: 4;
}

.dialog_text {
  color: white;
  margin: 25% auto;
  font: 30px;
}

.project_h2 {
  color: DarkBlue;
  display: inline-block;
  border-bottom: 3px solid DarkOrange;
}

.div_project {
  width: 100%;
  height: 750px;
  background: MidnightBlue;
  text-align: center;
  position: relative;
}

.div1_project {
  color: DarkBlue;
  display: inline-block;
  width: 350px;
  margin: 0px;
  border: 0px;
  padding: 10px;
}

.div2_project {
  color: DarkBlue;
  display: inline-block;
  width: 350px;
  margin: 0px;
  padding: 10px;
  border-left: 2px solid DarkOrange;
  border-right: 2px solid DarkOrange;
}

.div3_project {
  color: DarkBlue;
  display: inline-block;
  width: 350px;
  margin: 2px;
  border: 0px;
  padding: 10px;
}

.services_img_container {
  float: left;
  width: 16.66666666%;
}

.services_img {
  width: 85%;
}

.services_img_txt {
  position: relative;
  bottom: 100px;
  width: 75%;
  color: white;
}

.cover_image {
  width: 100%;
}

.about_us_text_1 {
  font-size: 25px;
  max-width: 1000px;
  color: DarkBlue;
  font-weight: bold;
  padding-top: 25px;
}

.service_icon {
  width: 110px;
}

.mockup_header {
  width: 100%;
}

.welcome_text {
  color: white;
}

.section_part {
  width: 100%;
  min-height: 750px;
  background: white;
  color: DarkBlue;
  text-align: center;
  position: relative;
}

.section_spacer {
  width: 100%;
  height: 450px;
  opacity: 0.1;
}

.google_maps {
  width: 31%;
  float: right;
  padding-top: 125px;
  padding-right: 50px;
}

.facebook_icon {
  float: left;
  padding-bottom: 10px;

}

.twitter_icon {
  float: left;
  padding-bottom: 10px;
}

.instagram_icon {
  float: left;
  padding-bottom: 10px;
}

.company_emails {
font-size: 25px;
}

#email_link {
color: darkblue;
font-size: 20px;

}

#email_link:hover {
color: darkorange;
}

.contact_us_section_bulk {
  position: relative;
}

.section_part_about {
  width: 100%;
  height: 1150px;
  color: white;
  text-align: center;
  position: relative;
}

.section_part_contact_us {
  min-height: 600px;
  background: white;
  color: Darkorange;
  text-align: center;
  position: relative;
}

.wrapper_contacts {
  padding-top: 70px;
  width: 31%;
  float: right;
}

.contact_form {
  float: left;
  width: 31%;
  padding-top: 30px;
}

.clients_logos {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;
}

.div1_about {}

.div2_about {}

#about_us_section {}

#services_section {}

#projects_section {}

#clients_section {}

#contact_us_section {}

@media screen and (max-width: 975px) {
  .div2_project {
    border: 0px;
  }
  .div_project {
    height: 1000px;
  }
  .about_us_text_1 {
    font-size: 14px;
    color: DarkBlue;
    font-weight: bold;
    width: 90%
  }
  .contact_form {
    float: left;
    width: 98%;
    padding-top: 30px;
	}
	.google_maps {
	  width: 55%;
	  margin: 0 auto;
	}
	.facebook_icon {
	  float: left;
	  width:30%;
	  padding-bottom: 30px;
	}
	.twitter_icon {
	  float: left;
	  width:30%;
	  padding-bottom: 30px;
	}
	.instagram_icon {
	  float: left;
	  width:30%;
	  padding-bottom: 30px;
	}
	.company_emails {
	font-size: 25px;
	}
	#email_link {
	color: darkblue;
	font-size: 20px;
	}
  .wrapper_contacts {
    padding-top: 70px;
    width: 98%;
    float: right;
  }
  .section_part_contact_us {
    min-height: 1600px;
    background: lightgrey;
  }
}
