// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel_image {
  width: 100%;
}

.close_dialog_link {
  margin: 30% 60%;
  color: white;
}

.dialog_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  padding-top: 100px;
  z-index: 21;
  color: white;
}

.dialog_text {
  color: white;
  margin: 25% auto;
  font: 30px;
}

.section_part_projects {
  width:100%;
  min-height: 580px;
  background-image: url("/images/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: White;
}

.project_container {  
  font-size: 18px;
  color: White;
  margin: 0px 10px 0px 30px;
}

.projects_h2 {
  color: DarkBlue;
  margin: 0px auto;
  padding-top: 50px;
}

.div_project {
  width: 100%;
  height: 750px;
  background: MidnightBlue;
  text-align: center;
  position: relative;
}
.project_body{ 
  color: White;
}

.div1_project {
  color: white;
  display: inline-block;
  width: 350px;
  margin: 0px;
  border: 0px;
  padding: 10px;
}

.div2_project {
  color: white;
  display: inline-block;
  width: 350px;
  margin: 0px;
  padding: 10px;
  border-left: 2px solid DarkOrange;
  border-right: 2px solid DarkOrange;
}

.div3_project {
  color: white;
  display: inline-block;
  width: 450px;
  margin: 2px;
  border: 0px;
  padding: 10px;
}

.section_part_services {
  width:100%;
  min-height: 580px;
  background-image: url("/images/construction.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

.services_header {
  margin: 0px auto;
  text-align: center;
  color: white;
  padding-top: 50px;
}

.service_dialog_link_container {
  float: left;
  width: 25%;
  color: white;
}

.service_dialog_link_container_1 {
  float: left;
  width: 25%;
  color: white;
}

.service_link_txt {
  width: 75%;
  color: white;
  font-size: 20px;
}

.service_link_txt:hover {
  font-size: 30px;
}

.service_dialog_link {
  width: 50%;
  color: white;
}

.big_bullet {
  font-size: 25px;
}

.service_dialog_links {
  position: relative;
  width: 100%;
  top: 400px;
}

.cover_image {
  width: 100%;
}

.mockup_header {
  width: 100%;
}

.welcome_text {
  color: white;
}

.section_part {
  width: 100%;
  min-height: 500px;
  background: rgb(214, 216, 219);
  color: DarkBlue;
  text-align: center;
  position: relative;
  overflow: auto;
  visibility: visible;
}

.section_spacer {
  width: 100%;
  height: 450px;
  opacity: 0.1;
  // for safari opacity
	filter: alpha(opacity=10);
  -khtml-opacity: 0.1;
}

.google_maps {
  width: 33.3333%;
  float: left;
  position: relative;
  bottom: 75px;
}

.company_emails {
  width: 100%;
  font-size: 25px;
  color: darkblue;
}

#email_link {
  color: rgb(66, 134, 244);
  font-size: 20px;

}

#email_link:hover {
  color: darkorange;
}

.section_part_about {
  width: 100%;
  height: 1150px;
  color: white;
  text-align: center;
  position: relative;
}


.section_part_contact_us {
  min-height: 580px;
  background: rgb(214, 216, 219);
  color: Darkblue;
  text-align: center;
}

.contact_us_h2 {
  margin: 0px auto;
  padding-top: 50px;
}

.wrapper_contacts {
  width: 33.3333%;
  float: left;
  position: relative;
  bottom: 75px;
}

.contact_form {
  width: 33.3333%;
  float: left;
  position: relative;
  bottom: 75px;
}

.divmain_about {
  width: 965px;
  text-align: justify;
}

.about_us_body {
  font-size: 20px;
  text-indent: 25px;
}

.about_us_photo {
  padding: 0px 30px;
  float: right;
}

.div1_about {
  img {
    float: right;
    margin: 5px;
  }
}

.div2_about {}

.section_part_links {
  min-height: 520px;
  background: rgb(214, 216, 219);
}

.links_header {
  margin: 0px auto;
  text-align: center;
  color: darkblue;
  padding-top: 50px;
}

.links_container {
  color: darkblue;
}

.links_link {
  color: rgb(66, 134, 244);
}

#about_us_section {

}

#services_section {}

#projects_section {}

#clients_section {}

#contact_us_section {}

@media screen and (max-width: 975px) {
  .about_us_body {
    width: 85%;
    margin: 0px auto;
    font-size: 16px;
  }
  .div1_about {
    img {
      width: 50%;
    }
  }
  .services_img_container {
    width: 50%;
  }
  .service_link_txt {
    font-size: 14px;
  }
  .service_dialog_link_container {
    float: left;
    width: 50%;
    color: white;
    padding-bottom: 50px;
    bottom: 100px;
    position: relative;
}
  .service_dialog_link_container_1 {
    float: left;
    width: 50%;
    color: white;
    bottom: 100px;
    position: relative;
}
  .div2_project {
    border: 0px;
  }
  .div_project {
    height: 1000px;
  }
  .divmain_about {
    width: 100%
  }
  .contact_form {
    float: left;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
	}
	.google_maps {
    margin: 0px auto;
    float: none;
	  width: 100%;
	  padding-top: 100px;
	}
	.company_emails {
	  font-size: 25px;
	}
	#email_link {
	  color: rgb(66, 134, 244);
	  font-size: 20px;
	}
  .wrapper_contacts {
    padding-top: 70px;
    width: 100%;
    float: right;
  }
  .section_part_contact_us {
    min-height: 1600px;
  }
  .section_spacer {
    height: 350px;
  }
}
