// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_us_text_1 {
  font-size: 25px;
  max-width: 1000px;
  color: DarkBlue;
  font-weight: bold;
}

.service_icon {
  width: 110px;
}

.mockup_header {
  width: 100%;
}

.welcome_text {
  color: white;
}

.section_part {
  width: 100%;
  height: 750px;
  color: white;
  text-align: center;
  position: relative;
}

.google_maps {
  position: absolute;
  right: 15px;
  bottom: 55px;
}

.facebook_icon {
  position: absolute; 
  right: 620px;
  bottom: 300px;
}

.twitter_icon {
  position: absolute;
  right: 510px;
  bottom: 300px;
}

.instagram_icon {
  position: absolute;
  right: 565px;
  bottom: 300px;
}

.company_emails {
  position: absolute;
  width: 250px;
  right: 500px;
  bottom: 10px;
}

.contact_us_section_bulk {
  position: relative;
}

.section_part_about {
  width: 100%;
  height: 1150px;
  color: white;
  text-align: center;
  position: relative;
}

.div1_about {}

.div2_about {}

#about_us_section {
  background: LightGray;
}

#services_section {
  background: gray;
  opacity: 0.5;
}


#projects_section {
  background: LightGray;
}

#clients_section {
  background: gray;
  opacity: 0.5;
}

#contact_us_section {
  background: LightGray;
}

@media screen and (max-width: 975px) {
  .about_us_text_1 {
    font-size: 14px;
    color: DarkBlue;
    font-weight: bold;
    width: 90%
  }
}
